/*全てのwebページに適用される*/
@charset "UTF-8";
body{
  background-color: black;
  color: white;
}
a{
  color: deepskyblue;
}

.gmap {
height: 0;
overflow: hidden;
padding-bottom: 56.25%;
position: relative;
}
.gmap iframe {
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
}
