/*全てのwebページに適用される*/
@charset "UTF-8";
body {
  background-color: black;
  color: white;
}
a {
  color: deepskyblue;
}

/* @media screen and (max-width:480px)[
  
  img{
  width:400px;
  
}
  ] */

1
2
3
4
5
6
7
8
9
/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block ; }
.sp { display: none ; }
 
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 767px) {
    .pc { display: none ; }
    .sp { display: block ; }
}
